.jumbotron {
 background-image: url("http://upload.wikimedia.org/wikipedia/commons/6/62/Drip_Coffee_Bangkok.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 margin-top: -70px;
 margin-bottom: 0px;
 padding: 20%;
}

.jumbotron h1 {
 color: #F7FAFE;
 position: absolute;
 left: 20px;
}

.jumbotron p {
    position: absolute;
    right: 20px;
    top: 60px;
}

body {
 background-color: #A2DED0;
 color: #F7FAFE;
}

.mission {
 font-family: 'Raleway', 'Sans-serif';
 background-color: #323232;
 padding: 50px;
}

.features {
 font-family: 'Multi', 'Sans-serif';
 color: #323232;
 padding-top: 30px;
 font-size: 18px;
}

.features img {
 width: 100%;
}

.navbar {
 background: rgba(0, 0, 0, 0.5);
 border: none;
}

.footer {
    background-color: #D64541;
    padding: 0 15px;
}

.footer p {
    padding-top: 15px;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: #323232
}

.footer p, .fa {
    padding-top: 15px;
}

@media only screen and (max-width: 768px) {
    .jumbotron a.btn {
        display: none;
    }
}